<h1>One Artist Information: <%= @artist.name %></h1>
<%= image_tag @artist.image_path %>
<%= @artist.songs %>
<%= @artist.songs.each do |song| %>
<p><%= song.title %></p>
<% end %>
<p><%= link_to("Edit", edit_artist_path) %></p>
<p><%= link_to("Delete", artist_path(@artist), method: :delete, data: {confirm: "Really delete the artist?"}) %></p>
<p><%= link_to("New Song", new_artist_song_path(@artist))%></p>
<p><%= link_to("Create Song", new_artist_song_path(@artist)) %></p>
